.breadcrumb
    +marpad(5px 0, 0)
    border-radius: 0
    background: transparent
    font-size: 12px

    +mobile-landscape()
        display: none

    &>.active
        font-weight: 500

    &>li+li:before
        padding: 0 5px
        content: "/\00a0"
