.btn
    border-radius: 4px
    font-weight: 700
    padding: 12px 25px
    min-width: 170px
    font-size: 15px
    box-shadow: none
    text-transform: uppercase

    &-default,
    &-default:focus
        color: $white
        background-color: $primary-cyan
        border: solid 1px $primary-cyan
        background-image: linear-gradient(to right, rgba($secondary-cyan, .6) 5%, $primary-cyan, rgba($secondary-cyan, .6) 95%)

    &-default:hover,
    &-default:active
        color: $white
        background-image: none

    &-primary,
    &-primary:focus,
    &-white-bg,
    &-white-bg:focus
        color: $white
        background-color: $secondary-orange
        border: solid 1px $secondary-orange

    &-primary:hover,
    &-primary:active
        color: $white
        background-color: transparent
        border: solid 1px $white

    &-white-bg:hover,
    &-white-bg:active
        color: $secondary-orange
        background-color: $white
        border: solid 1px $secondary-orange

    &-second,
    &-second:focus
        color: $white
        background-color: transparent
        border: solid 1px $white

    &-second:hover,
    &-second:active 
        color: $primary-cyan
        background-color: $white
        border-color: $white


    &.btn-lg
        padding: 18px 40px !important
    &.btn-xs
        padding: 8px 15px !important
    &+.btn
        margin-left: 10px
