.cta

  &--call
    background-color: $white
    border-radius: 50px
    color: $primary-cyan
    display: inline-block
    float: right
    margin-top: 4px
    padding: 0 18px
    text-transform: uppercase
    line-height: 40px

    +ipad-portrait
      color: $white
      background-color: $primary-cyan
      border-radius: 0

      &:active,
      &:hover
        color: $white