.form-control
  border-radius: 4px
  height: 48px
  font-size: 14px
  border-color: #eee
  color: #222
  box-shadow: none
  -webkit-appearance: none
  background: #f6f6f6
  font-weight: 400

  &:focus
    border-color: #f1f1f1
    background: #f6f6f6

textarea.form-control
  height: 220px
  resize: none
