.navbar-toggler
    +marpad(0, 0)
    width: 50px
    height: 62px
    border-radius: 0
    cursor: pointer
    text-decoration: none
    border: 0
    position: absolute
    top: 0
    right: 0
    background-color: $white
    font-size: 1.8rem

.icon-menu
    color: $primary-cyan
    margin-top: -15px !important