%form-field
  border: 0
  font-size: 14px
  border-radius: 0
  height: 44px


.newsletter-form
  width: 100%
  display: inline-block
  vertical-align: top
  margin: 0
  position: relative
  padding-right: 40px
  border-radius: 3px
  overflow: hidden
  box-shadow: 0 5px 15px rba(0, 0, 0, 0.04)

  button[type="submit"]
    @extend %form-field
    width: 40px
    background: #00bcb4
    position: absolute
    top: 0
    right: 0
    text-align: center
    color: #fff
    line-height: 44px
    z-index: 9
    cursor: pointer

    &:hover
      background-color: #000

  .form-control
    @extend %form-field
    box-shadow: none
    color: #000
    background: #fff !important
