%arrow-setup
  background: transparent
  border: 0
  color: #999
  font-size: 18px
  font-weight: 500
  padding: 12px 17px
  margin: 3px

%hover-style
  color: #00bcb4
  background-color: transparent


.pagination-container
  width: 100%
  display: inline-block
  vertical-align: top
  text-align: center
  margin: 30px 0

.pagination
  display: inline-block
  vertical-align: top

  &>li
    float: left

    &>a
      @extend %arrow-setup

      &:hover
        @extend %hover-style

    &>span
      @extend %arrow-setup
      display: block

    &:first-child
      &>a,
      &>span
        margin-left: 0
        border-radius: 0

    &:last-child
      &>a,
      &>span
        border-radius: 0

  .active
    @extend %hover-style
