.post-list
    display: flex
    vertical-align: top
    width: calc(100% + 30px)
    margin-left: 15px
    flex-wrap: wrap

    +mobile-portrait()
        display: inline-block
        margin-bottom: 0

    li
        +mobile-portrait
            width: 100%
            margin-bottom: 30px

    &>li
        float: left
        width: 33.3%
        padding: 15px
        display: flex
        flex-wrap: wrap

    &.blog-post li
        +marpad(0 0 15px,0 15px 15px)
        width: 50%

        +mobile-portrait()
            width: 100%

    &.uses
        &>li
            width: 50%
