.post-box
    width: 100%
    display: inline-block
    vertical-align: top
    border-radius: 5px
    overflow: hidden
    background-color: #ffffff
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05)
    transition: all 0.2s ease-in

    &-img
        width: 100%
        display: inline-block
        vertical-align: top

    &-content
        width: 100%
        display: flex
        vertical-align: top
        padding: 30px 25px
        flex-flow: column

        .link
            margin-top: auto
        
        h6
            color: #999

    &:hover
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.05)

.featured-post
    margin-bottom: 25px

.post-box.uses
    .post-box-img
        height: 160px

        img
            transition: transform .8s

    .post-box-content
        width: 25%
        margin: 0 auto
        padding: 0
        position: relative
        top: -340px
        background: transparent
        transition: background-color .8s

        h5
            text-align: center
            color: #FFF
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5)
            margin: 0
            line-height: 50px

    &:hover
        .post-box-img img
            transform: scale(1.1)

        .post-box-content
            background-color: #00bcb4




