{% load wagtailcore_tags %}
<div class="content-container color-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading os-animation animated" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                        <h6>Blog</h6>
                        <h3>{{ value.title }}</h3>
                        <p>{{ value.intro}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="post-list os-animation animated" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
                        {% include "blog/snippets/blog_list.html" with posts=posts %}
                    </ul>
                </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-4 offset-md-4 text-center">
                  <a href="{% pageurl blog_index %}" class="btn btn-default">{{ value.button_text }}</a>
                </div>
              </div>
            </div>
        </div>
    </div>
