{% load wagtailimages_tags %}
{% for bullet in value.bullet_points %}
{% if forloop.first %}
<div class="row">
{% endif %}
    {% if forloop.revcounter < modulo and last_row_offset %}
    <div class="col-lg-{{ row_length }} col-md-{{ row_length }} col-sm-{{ row_length }} col-lg-offset-{{ forloop.revcounter }} col-md-offset-{{ forloop.revcounter }} col-sm-offset-{{ forloop.revcounter }} bullet-icon">
    {% else %}
    <div class="col-lg-{{ row_length }} col-md-{{ row_length }} col-sm-{{ row_length }} bullet-icon">
    {% endif %}
        {% image bullet.icon max-25x25 %}
        <h5>{{ bullet.title }}</h5>
        {{ bullet.text }}
    </div>
    {% if forloop.counter|divisibleby:modulo and not forloop.last %}
    </div>
    <div style="height: 30px; clear: both;"></div>
    <div class="row">
    {% endif %}
    {% if forloop.last %}
    </div>
    {% endif %}
{% endfor %}