<div class="content-container">
    <div class="container">
        <div class="row">
            <div class="heading os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.1s">
                <h6>{{ value.super_title }}</h6>
                <h3>{{ value.title }}</h3>
            </div>
        </div>
        {% with total_bullet_points=value.bullet_points|length %}
        {% if total_bullet_points|divisibleby:"4" and total_bullet_points > 4 %}
        {% include "home/blocks/bullet_icons.html" with modulo=4 row_length=3 %}
        {% elif total_bullet_points|divisibleby:"3" %}
        {% include "home/blocks/bullet_icons.html" with modulo=3 row_length=4 %}
        {% elif total_bullet_points|divisibleby:"2" %}
        {% include "home/blocks/bullet_icons.html" with modulo=2 row_length=6 %}
        {% elif total_bullet_points|divisibleby:"5" %}
        {% include "home/blocks/bullet_icons.html" with modulo=3 row_length=4 last_row_offset=1 %}
        {% endif %}

        {% endwith %}
    </div>
</div>