{% load wagtailcore_tags wagtailimages_tags %}
{% for value in self  %}
<div class="hero-container carousel--slide">
    <picture data-background-position="{{ value.background_position }}">
      {% image value.image fill-576x1200-c75 as photo_sm_portrait %}
      {% image value.image fill-576x400 as photo_sm %}
      {% image value.image fill-768x1000 as photo_md %}
      {% image value.image fill-1000x650 as photo_lg %}
      {% image value.image min-1200x650 as photo_xl %}
      <source media="(max-width: 575.98px) and (orientation: portrait)" data-max-width=576 data-portrait="true" srcset="{{ photo_sm_portrait.url }}">
      <source media="(max-width: 575.98px)" data-max-width=576 srcset="{{ photo_sm.url }}">
      <source media="(max-width: 767.98px)" data-max-width=768 srcset="{{ photo_md.url }}">
      <source media="(max-width: 991.98px)" data-max-width=992 srcset="{{ photo_lg.url }}">
      <img class="carousel--img" data-max-width="9001" src="{{photo_xl.url }}">
    </picture>
    <div class="middle-container">
      <div class="container">
          <div class="row">
              <div class="col-md-7">
                  <h1>{{ value.title }}</h1>
                  <p>{{ value.description }}</p>
                  <div><a class="btn btn-default" href="{% pageurl value.page %}">{{ value.button_text}}</a></div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endfor %}
