{% load wagtailcore_tags %}
<div class="sidebar-cta mob-mar-30 text-center">
  <h3>{{ value.title }}</h3>
  <a href="{% pageurl value.page %}" class="btn btn-primary btn-xs">{{ value.button_text }}</a>
</div>
