{% load wagtailimages_tags wagtailcore_tags %}
{% image value.image original as side_image %}
<div class="content-container">
  <div class="container">
    <div class="row os-animation animated" data-os-animation="fadeInUp" data-os-animation-delay="0.2s" style="animation-delay: 0.2s;">
      {% if value.image_position == 'left'  %}
      <div class="col-md-6">
        <div class="media-box">
          <img src="{{ side_image.url }}" alt="">
        </div>
      </div>
      {% endif %}
      <div class="col-md-6 mar-30">
        {% if value.intro %}
        <h5>{{ value.intro}}</h5>
        {% endif %}
        {{ value.text|richtext }}
        {% if value.page %}
          <a href="{% pageurl value.page %}" class="btn btn-white-bg">{{ value.button_text }}</a>
        {% endif %}
      </div>
      {% if value.image_position == 'right'  %}
      <div class="col-md-6">
        <div class="media-box">
          <img src="{{ side_image.url }}" alt="">
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
