{% load wagtailcore_tags wagtailimages_tags %}
<div class="content-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.1s">
          <h6>{{ value.super_title }}</h6>
          <h3>{{ value.title }}</h3>
          {{ value.intro }}
        </div>
      </div>
    </div>
    <div class="row os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.1s">
      <div class="owl-carousel owl-theme case-slider">
        {% for feature in value.features %}
        {% image feature.image min-1200x650 as photo %}
        <div class="recent-project-box">
          <div class="recent-project-image" style="background-image: url({{ photo.url }})"></div>
          <div class="recent-project-content animated" data-animate="fadeInUp">
            <h5>{{ feature.feature_name }}</h5>
            {{ feature.intro }}
            {% if feature.specifications %}
            <ul class="tick-list">
              {% for specification in feature.specifications  %}
              <li>{{ specification }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% if feature.page %}
            <a href="{% pageurl feature.page %}" class="link">{{ feature.button_text }}</a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
