<div class="content-container">
    <div class="container">
        {% if value.super_title or value.title %}
        <div class="row">
            <div class="col-md-12">
                <div class="heading os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.1s">
                    {% if value.super_title %}<h6>{{ value.super_title }}</h6>{% endif %}
                    {% if value.title %}<h3>{{ value.title }}</h3>{% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                {{ value.free_text }}
            </div>
        </div>
    </div>
</div>