<div class="content-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading os-animation animated" data-os-animation="fadeInUp" data-os-animation-delay="0.1s" style="animation-delay: 0.1s;">
          <h6>Testimonials</h6>
          <h3>{{ value.title }}</h3>
          <p>{{ value.intro}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.1s">
        <div class="testimonial-slider owl-carousel owl-theme">
          {% for testimonial in value.testimonials %}
          <div class="testimonials">
            <blockquote>{{ testimonial.text }}</blockquote>
            <p class="quote-by"><strong>{{ testimonial.author }}</strong> - {{ testimonial.workplace }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
