.post-title
  font-weight: 200
  font-size: 54px

  +ipad-landscape
    font-size: 44px

  +mobile-portrait
    font-size: 36px

.single-post-content
  +mobile-portrait
    padding: 0

.post-meta-info
  width: 100%
  display: inline-block

  li
    width: 50%
    float: left

    &:last-child
      text-align: right
