.contact-list
    text-align: center
    width: 100%
    display: inline-block
    vertical-align: top

    li
        width: 100%
        
        &:not(:last-child)
            margin-bottom: 30px

.icon2
    font-size: 30px
    line-height: 1
    color: $primary-cyan
    margin-bottom: 10px