%nav-styling
  display: inline-block
  vertical-align: top


.footer
  background-color: #f9f9f9
  padding: 80px 0

  +ipad-portrait
    padding: 60px 0

  &-logo
    width: 110px
    margin-bottom: 20px

    +mobile-portrait
      float: left

  &-address
    +mobile-portrait
      float: right

  &-nav
    @extend %nav-styling
    width: 100%

    li
      position: relative
      margin-bottom: 5px


.social-links
  @extend %nav-styling

  +mobile-portrait
    clear: both
    float: left

  li
    float: left
    margin-right: 15px

    a
      float: left
      line-height: 20px
      font-size: 14px
