header
  color: $black
  background-color: $white
  left: 0
  padding: 0
  position: fixed
  right: 0
  top: 0
  transition: all .2s ease-in
  z-index: 9999

  +mobile-landscape
    height: 75px

.fixed
  header
    background: $white
    box-shadow: 0 5px 20px rgba($black, .06)
    color: $black

  .logo-dark
    display: block
