.hero
    background-color: #EFF
    background-image: linear-gradient(360deg, #EEFFFF 47.05%, $white 110.66%) 
    clear: both
    min-height: 100vh

    &-title
        position: relative
        top: 300px
        font-family: 'Sarabun', sans-serif
        font-weight: 800
        font-size: 48px
        line-height: 47px
        width: 500px

        +chromebook
            top: 250px

        +ipad-landscape
            top: 250px

        +mobile-landscape
            top: 170px
            font-size: 40px
            line-height: 39px
            text-align: center
            width: 100%

    &-title span
        display: block

    &-btn
        width: 150px
        height: 65px
        background-color: rgba($primary-cyan, .7)

        font-size: 18px
        line-height: 40px
        text-align: center
        text-transform: uppercase
        color: $white

        position: relative
        top: 150px
        transition: all 0.2s ease-in

        +chromebook
            top: 50px

        +ipad-landscape
            top: 50px

        &:hover
            color: $white
            background-color: rgba(232, 156, 43, 0.7)

    &-image
        float: right
        position: relative
        top: -25px

        +chromebook
            top: -135px
        
        +ipad-landscape
            top: -100px

        +mobile-landscape
            display: block
            margin-top: 300px

        img
            +ipad-landscape
                width: $ipad-landscape-width / 2
            +chromebook
                height: 500px