.navbar
    padding: 0
    height: 118px
    background-color: $white

    +mobile-landscape
        height: 75px

    &--home
        background-color: #EFF

    &-nav
        font-size: 12px
        font-weight: 400
        text-transform: uppercase

        +wide-screen
            background-color: $white
            color: $black

        .nav-link
            padding: 0 15px
            line-height: 60px

            +wide-screen
                line-height: 40px
    
    &-brand
        width: 185px
        position: relative
        margin-top: 15px

        +wide-screen
            +marpad(21px 15px, 0)
        +ipad-landscape
            width: 150px
        +mobile-landscape
            width: 100px
            margin-top: 10px
        // +ipad-portrait
        //     margin-left: 60px

        img
            float: left
    
    &-default
        .navbar-toggler:hover,
        .navbar-toggler:focus
            background: transparent

    &-collapse
        position: relative
        left: 35px
        top: 5px
        overflow-y: auto

        // +chromebook
        //     position: fixed
        //     left: 325px;
        //     top: 87px

        +mobile-landscape
            position: fixed
            top: 125px
            left: 0
            right: 0
            box-shadow: 0 5px 10px rgba($black, 0.06)


.navbar-expand-xl .navbar-nav .nav-link
    padding: 0 15px
    line-height: 60px

    +wide-screen
        line-height: 40px
