a
    display: inline-block
    text-decoration: none
    color: inherit
    outline: none
    transition: all .2s ease-in

    &:hover
        color: #00bcb4
    
    &:focus
        outline-offset: 0
    