#{headings(1, 6)}
    +marpad(0 0 15px 0, 0)
    line-height: 1.2
    font-weight: 700
    color: inherit

h1
    font-size: 42px

h2
    font-size: 36px

h3
    font-size: 28px

h4
    font-size: 22px
    line-height: 1.4

h5
    font-size: 18px
    line-height: 1.4

h6
    font-size: 11px
    font-weight: 700
    letter-spacing: 1px
    text-transform: uppercase
    margin: 0 0 10px