@function headings($from: 1, $to: 6)
    @if $from == $to
        @return 'h#{$from}'
    @else
        @return 'h#{$from},' + headings($from+1, $to)

%focus-reset
    outline: 0 !important
    box-shadow: 0 !important


=marpad($margin, $padding)
    margin: $margin
    padding: $padding
