*
    +marpad(0, 0)

    &:focus
        @extend %focus-reset

body
    font-size: 14px
    line-height: 23px
    font-weight: 300
    font-family: 'Poppins'
    color: #333
    background: #fff
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

#{headings(1, 6)},
p,
ul,
li,
body,
html,
form,
fieldset
    +marpad(0, 0)
    outline: none
    border: 0

img
    border: 0
    max-width: 100%

a
    text-decoration: none
    border: 0
    outline: 0

    &:focus
        @extend %focus-reset
    img
        border: 0

p
    +marpad(0 0 25px 0, 0)

    &:last-child
        +marpad(0, 0)

strong
    font-weight: 600

b
    font-weight: 700

.clear
    clear: both
    width: auto !important

.container
    width: 100%
    max-width: 1200px

ul
    list-style: none

input:focus,
textarea:focus
    @extend %focus-reset