{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<!--============================== Hero Start ==============================-->
<div class="hero">
  <div class="container">
  <p class="hero-title">
    <span>Introducing the newest hyperbaric chamber around the block</span>
    <a class="btn hero-btn" href="#">Read more</a>
  </p>
  <figure class="hero-image">
    <img src="{% static "img/chamber.png" %}" />
  </figure>
  </div>
</div>
<!--============================== Hero End ==============================-->
{% include "home/snippets/body.html" %}
{% endblock %}
