{% load wagtailcore_tags wagtailimages_tags %}

{% for blogpost in posts %}
  <li>
    <div class="post-box">
      <div class="post-box-img">
        {% image blogpost.specific.image original as post_image %}
        <a href="{% pageurl blogpost.specific %}"><img src="{{ post_image.url }}" alt=""></a>
      </div>
      <div class="post-box-content">
        <h6>{{ blogpost.specific.first_published_at }}</h6>
        <h5><a href="{% pageurl blogpost.specific %}">{{ blogpost.specific.title}}</a></h5>
        <a href="{% pageurl blogpost.specific %}" class="link">Read more</a>
      </div>
    </div>
  </li>
  {% empty %}
  {% if not featured_post %}
  <p>No blog entries at the moment.</p>
  {% endif %}
{% endfor %}
