{% load wagtailcore_tags %}
<div class="widget-box">
  <h5>{{ widget_title }}</h5>
  <ul class="list">
    {% for post in posts %}
    <li><a href="{% pageurl post %}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
