{% load wagtailcore_tags %}
<!-- widget start -->
<div class="widget-box">
  <h5>Tags</h5>
  <div class="tag-box">{% for tag in tags %}<a href="{% pageurl page %}?category={{ tag.name }}">{{ tag.name }}</a>{% endfor %}</div>
</div>
<!-- widget end -->
