{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags banner_tags %}


{% block content %}
{% inner_banner calling_page=self background_image=page.banner_image %}
<div class="content-container color-bg">
  <div class="container">
    <div class="col-md-12">
      <ul class="post-list uses">
        {% for child in children %}
        <li>
          <div class="post-box uses">
            <div class="post-box-img">
              {% image child.specific.icon min-600x200 %}
              <div class="post-box-content">
                <a href="{% pageurl child.specific %}">
                  <h5>{{ child.specific.title }}</h5>
                </a>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
