{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags banner_tags %}

{% block content %}
{% inner_banner calling_page=self background_image=blog_index.specific.banner_image %}
<!--============================== Content Section Start ==============================-->
<div class="content-container">
  <div class="container">
    <div class="row os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
      <div class="col-md-9">
        <div class="single-post-content">
          <h1 class="post-title">{{ page.title }}</h1>
          <ul class="post-meta-info">
            <li>Posted on <strong>{{ page.first_published_at }}</strong></li>
            <li>Reading time: <strong>{{ reading_time}} min</strong></li>
          </ul>
          {% image page.image original as post_image%}
          <div class="post-thumbnail-container"><img src="{{ post_image.url}}" /></div>
          <p class="post-intro"><strong>{{ page.intro }}</strong></p>
          {{ page.body|richtext }}
          <div class="share-post">
            <h5 class="color-text">Share</h5>
              <ul class="share-post-list">
                <li><a href="{{ facebook_share_url }}" class="addthis_button_facebook"><span><i class="fab fa-facebook-f"></i></span></a></li>
                <li><a href="{{ twitter_share_url }}" class="addthis_button_twitter"><span><i class="fab fa-twitter"></i></span></a></li>
                <li><a href="{{ linkedin_share_url }}" class="addthis_button_linkedin"><span><i class="fab fa-linkedin-in"></i></span></a></li>
              </ul>
            </div>
            <ul class="bottom-nav">
              <li>
                {% if previous_post %}
                <a class="template-nav template-prev" href="{% pageurl previous_post %}"><i class="fa fa-angle-left"></i> <strong class="hidden-xs">Previous: {{ previous_post.title }}</strong></a>
                {% endif %}
              </li>
              <li><a href="{% pageurl blog_index.specific %}"><i class="fas fa-th-large"></i></a></li>
              <li>
                {% if next_post %}
                <a class="template-nav template-next" href="{% pageurl next_post %}"><strong class="hidden-xs">Next: {{ next_post.title }}</strong> <i class="fa fa-angle-right"></i></a>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
            <div class="col-md-3 fix">
                <div class="sidebar">
                    {% include "blog/snippets/sidebar_blog_list.html" with widget_title="Popular Posts" posts=popular_posts %}
                    {% include "blog/snippets/sidebar_blog_list.html" with widget_title="Related Posts" posts=related_posts %}
                    {% include "blog/snippets/tag_cloud.html" with page=blog_index %}
                </div>
            </div>
        </div>
    </div>
</div>
<!--============================== Content Section End ==============================-->
{% endblock content %}
