{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags banner_tags %}
{% block content %}
{% inner_banner calling_page=self background_image=page.banner_image %}

<div class="content-container color-bg">
  <div class="container">
    <div class="row os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
      <div class="col-md-9">
        {% if featured_post %}
        <div class="post-box featured-post">
          <div class="post-box-img">
            {% image featured_post.specific.image original as feature_image %}
            <a href="{% pageurl featured_post.specific %}"><img src="{{ feature_image.url }}"></a>
          </div>
          <div class="post-box-content">
            <h6>{{ featured_post.specific.first_published_at }}</h6>
            <h5><a href="{% pageurl featured_post.specific %}">{{ featured_post.specific.title }}</a></h5>
            <p>{{ featured_post.specific.intro }}</p>
            <a href="{% pageurl featured_post.specific %}" class="link">Read more</a>
          </div>
        </div>
        {% endif %}
        {% if category %}
        <h2>Showing {{ paginator.count }} entries in {{ category}}</h2>
        {% endif %}
        <ul class="post-list blog-post">
          {% include "blog/snippets/blog_list.html" with posts=blogposts featured_post=featured_post %}
        </ul>
        <div class="pagination-container">
          <ul class="pagination">
            {% if blogposts.has_previous %}
            <li><a href="{% pageurl page %}?page={{ blogposts.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
            {% else %}
            <li><span><i class="fa fa-angle-left"></i></span></li>
            {%endif %}
            {% for paginated_page in paginator.page_range %}
            {% if paginated_page == blogposts %}
            <li><a href="{% pageurl page %}?page={{ paginated_page }}" class="active">{{ paginated_page }}</a></li>
            {% else %}
            <li><a href="{% pageurl page %}?page={{ paginated_page }}">{{ paginated_page }}</a></li>
            {% endif %}
            {% endfor %}
            {% if blogposts.has_next %}
            <li><a href="{% pageurl page %}?page={{ blogposts.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
            {% else %}
            <li><span><i class="fa fa-angle-right"></i></span></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="col-md-3 fix">
        <div class="sidebar">
          {% include "blog/snippets/sidebar_blog_list.html" with widget_title="Popular posts" posts=popular_posts %}
          {% include "blog/snippets/tag_cloud.html" with page=page %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
