{% load static wagtailuserbar wagtailimages_tags navigation_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  {% if not request.is_preview %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137093135-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-137093135-1');
  </script>
  {% endif %}
  <meta charset="utf-8" />
  {% include "share_tags.html" %}
  <title>
    {% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
    {% with self.get_site.site_name as site_name %}
    {% if site_name %}- {{ site_name }}{% endif %}
    {% endwith %}
    {% endblock %}
  </title>
  <meta name="description" content="{{ self.search_description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="hyperbaric chamber HBOT veterinary" /> 

  {# Global stylesheets #}
  <link rel="shortcut icon" href="{%  static 'img/favicon@2x.ico' %}">
  <link href="{% static "css/styles.css" %}" rel="stylesheet">

  {% block extra_css %}
  {# Override this in templates to add extra stylesheets #}
  {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
  {% if not request.is_preview %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KC4TDFG"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2079503535693988',
      xfbml      : true,
      version    : 'v3.2'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
  {% endif %}
  {% wagtailuserbar %}
  <!--============================== Header Start ==============================-->
  <header>
    <!-- Navbar -->
    <nav class="topbar">
      <div class="container">
        <div class="row">
          <div class="col topbar--address">
            <i class="fal fa-map-marker-alt"></i> 8200 NW 41st Street, 2nd Floor, 33166 Miami, Florida
          </div>
          <div class="col">
            <span class="cta--call">
              Call us Toll free: <a href="tel:+18338285900">+1 (833) 828-5900</a>
            </span>
          </div>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="{% static "img/logo.png" %}" alt="Hypervet logo" /></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-signal-alt-3 fa-rotate-270 icon-menu"></i>
        </button>
        {% site_nav calling_page=self %}
        {% comment %} <div class="header-right">
          <a href="#!" rel="nofollow" class="search-icon"><i class="fa fa-search"></i></a>
        </div> {% endcomment %}
      </div>
    </nav>
  </header>
  <!--============================== Header End ==============================-->

  {% block content %}{% endblock %}
  {% image end_of_page_cta.background_image original as cta_background %}
  <div class="cta-container" style="background-image: url({{ cta_background.url }});">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h3>{{ end_of_page_cta.title }}</h3>
                  <!-- <a href="#" class="btn btn-default">{{ end_of_page_cta.button_text}}</a> -->
                  <p>Call us on <a href="tel:+18338285900">+1 (833) 828-5900</a> or send us an email on <a href="mailto:info@hypervet.co">info@hypervet.co</a></p>
              </div>
          </div>
      </div>
  </div>
  <aside class="certifications">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>All our hyperbaric chambers are <strong>ISO9001:2008</strong> and <strong>ISO13485:2003</strong> certified.</p>
        </div>
      </div>
    </div>
  </aside>

  {% include "footer.html" %}
  <script type="text/javascript">
    const SUBSCRIBE_URL = 'https://{{ request.get_host }}{% url 'api-subscribe' %}'
    window.newsLetterMount = document.getElementById('newsletter-form');
  </script>
  {% block extra_js %}
  {# Override this in templates to add extra javascript #}
  {% endblock %}
  <script src="{% static "js/bundle.js" %}"></script>
</body>

</html>
