{% load static wagtailcore_tags navigation_tags %}

<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <a class="footer-logo" href="index.html"><img src="{% static "img/logo.png" %}" alt="" /></a>
          <address class="footer-address">
            8200 NW 41St Street<br />
            Suite 200, 2nd Floor<br />
            33166 Miami<br />
            Florida
          </address>
          {% comment %} <ul class="footer-nav">
            <li><a class="" href="{% slugurl 'careers' %}">We're hiring!</a></li>
          </ul> {% endcomment %}
          <ul class="social-links">
            <li><a href="https://www.facebook.com/hypervet/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://twitter.com/HypervetCo/" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.linkedin.com/company/hypervet/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-6">
          {% for footer_menu in footer_menus %}
          {% if forloop.first %}
            <div class="row">
          {% endif %}
          {% nav_footer footer_menu %}
          {% if forloop.counter|divisibleby:"2" %}
            </div>
            <div class="row">
          {% endif %}
          {% if forloop.last %}
              <div class="col-lg-6">
                <h5>Sitemap</h5>
                {% sitemap_footer %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
        </div>
        <div class="col-lg-3">
          <h5>Subscribe</h5>
          <p>Subscribe to our newsletter and stay in the know about Hyperbaric medicine for pets & animals.</p>
          <div id="newsletter-form" class="newsletter-form"></div>
          <p id="show-on-subscribe">Thank you for signing up for our newsletter</p>
          <p>We only send two emails per month and unsubscdribing is easy.</p>
        </div>
      </div>
    </div>
</footer>