{% load wagtailimages_tags %}
  <meta property="og:site_name" content="Hypervet">
  <meta property="og:type" content="website">
  <meta property="fb:app_id" content="2079503535693988">
  <meta property="og:url" content="{{ page.full_url }}">
  <meta property="og:title" content="{{ page.facebook_title }}">
  <meta property="og:description" content="{{ page.facebook_description }}">
{% if page.facebook_image %}{% image page.facebook_image width-600 as fb_share_image %}
  <meta property="og:image" content="{{ page.get_site.root_url }}{{ fb_share_image.url }}">
  <meta property="og:image:width" content="{{ fb_share_image.width }}">
  <meta property="og:image:height" content="{{ fb_share_image.height }}">
{% endif %}

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@HypervetCo">
  <meta name="twitter:creator" content="@HypervetCo">
  <meta name="twitter:url" content="{{ page.full_url }}">
{% if page.twitter_image %}{% image page.twitter_image width-600 as twitter_share_image %}
  <meta name="twitter:title" content="{{ page.twitter_title }}">
  <meta name="twitter:description" content="{{ page.twitter_description }}">
  <meta name="twitter:image" content="{{ page.get_site.root_url }}{{ twitter_share_image.url }}">
{% endif %}
