{% load wagtailimages_tags wagtailcore_tags %}
{% image background_image original as banner_background %}
<div class="inner-banner" style="background-image: url({{ banner_background.url }})">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="{% pageurl homepage %}">{{ homepage.title }}</a></li>
                    {% for parent in parent_pages %}
                    <li><a href="{% pageurl parent %}">{{ parent.title }}</a></li>
                    {% if forloop.last %}
                    <li></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <h2>{{ page.title }}</h2>
            </div>
        </div>
    </div>
</div>
