{% load wagtailcore_tags %}
<div class="col-lg-6">
    <h5>{{ menu_obj.title }}</h5>
    <ul class="footer-nav">
    {% for child in children %}
        <li><a href="{% pageurl child %}">{{ child.title }}</a></li>
    {% endfor %}
    </ul>
</div>