{% load wagtailcore_tags navigation_tags %}

<div class="collapse navbar-collapse" id="navbarNavDropdown">
  <!-- Left nav -->
  <ul class="nav navbar-nav" id="main-nav">
    <li class="nav-item{% if calling_page == root %} active{% endif %}"><a href="{% pageurl root %}" class="nav-link">{{ root.title }}</a></li>
    {% for menuitem in menuitems  %}
      {% if menuitem.dropdown %}
      <li class="nav-item dropdown{% if calling_page == menuitem %} active{% endif %}"><a href="{% pageurl menuitem %}">{{ menuitem.title }}</a></li>
        <ul class="dropdown-menu">
          {% for submenu in menuitem %}
            <li><a href="{% pageurl submenu %}" class="dropdown-item">{{ submenu.title }}</li>
          {% endfor %}
        </ul>
      {% else %}
      <li class="nav-item{% if calling_page == menuitem %} active{% endif %}"><a href="{% pageurl menuitem %}" class="nav-link">{{ menuitem.title }}</a></li>
      {% endif %}

    {% endfor %}
</div>
