{% extends "base.html" %}
{% load wagtailcore_tags banner_tags %}
{% block content %}
{% inner_banner calling_page=self background_image=page.banner_image %}
    <div class="content-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.1s">
                      {% if success %}
                      <h6>We've received your message</h6>
                      <h3>Thank you! We'll get back to you shortly.</h3>
                      {{ page.thank_you_text|safe }}
                      {% else %}
                      <h6>Send a Message</h6>
                      <h3>We would love to hear from you.</h3>
                      {{ page.intro|safe }}
                      {% endif %}
                    </div>
                </div>
            </div>
            <div class="row os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.2s">
              {% if not success %}
              <form method="post" class="contact-form" action="{% pageurl page %}">
                {% csrf_token %}
                <div class="col-md-10 offset-md-1">
                    <div class="row">
                        <div class="col-md-4">
                          {% include "contact/snippets/form_field.html" with field=form.name %}
                        </div>
                        <div class="col-md-4">
                          {% include "contact/snippets/form_field.html" with field=form.email %}
                        </div>
                        <div class="col-md-4">
                          {% include "contact/snippets/form_field.html" with field=form.subject %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {% include "contact/snippets/form_field.html" with field=form.message %}
                            </div>
                        </div>
                        <div class="col-md-4 offset-md-4">
                            <div class="form-group">
                                <input type="submit" value="Send Message" class="btn btn-default btn-block">
                            </div>
                        </div>
                    </div>
                </div>
              </form>
              {% endif %}
            </div>
        </div>
    </div>
    <div class="content-container contact-container">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <ul class="contact-list">
                  <li>
                    <div class="icon2"><i class="fa fa-location-arrow"></i></div>
                    <h5>Address</h5>
                    <p>8200 NW 41st Street, 2nd Floor,<br />
                      33166 Miami, Florida</p>
                  </li>
                  <li>
                    <div class="icon2"><i class="fa fa-envelope"></i></div>
                    <h5>Email</h5>
                    <p>
                      <a href="mailto:info@hypervet.co">info@hypervet.co</a><br>
                      <a href="mailto:sales@hypervet.co">sales@hypervet.co</a>
                    </p>
                  </li>
                  <li>
                    <div class="icon2"><i class="fa fa-mobile"></i></div>
                    <h5>Phone</h5>
                      <p><a href="tel:0013055634235">+1 305-563-4235</a></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="map-container">
        <div id="map-canvas"></div>
      </div>
    </div>
{% endblock content %}

{% block extra_css %}
  {{ block.super }}
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />
{% endblock extra_css %}

{% block extra_js %}
  {{ block.super }}
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
  <script src='https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js'></script>
  <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
  <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiaHlwZXJ2ZXQiLCJhIjoiY2pvbjgzb2xrMHh5bTNxbnl6eHc4bHE1byJ9.9Q3fxFSpsvxNxe991SB4Ww';
    const mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
    mapboxClient.geocoding.forwardGeocode({
      query: '8200 NW 41st Street, 2nd Floor, 33166 Miami, Florida',
      autocomplete: false,
      limit: 1
    }).send().then(function (response) {
        if (response && response.body && response.body.features && response.body.features.length) {
            const feature = response.body.features[0];

            const map = new mapboxgl.Map({
                container: 'map-canvas',
                style: 'mapbox://styles/hypervet/cjondv764215p2squv6sq1ew1',
                center: feature.center,
                zoom: 17,
                pitch: 60
            });
            // Disable drag and zoom handlers.
            map.scrollZoom.disable();
            new mapboxgl.Marker()
                .setLngLat(feature.center)
                .addTo(map);
        }
    });
  </script>
{% endblock extra_js %}
